//Global colors
$white: #ffffff;
$black: #000000;
$red: red;
$green: green;

//Project colors

// Breakpoints for media queries
$medium-up: '(min-width: 768px)';
$large-up: '(min-width: 1000px)';
$widescreen-up: '(min-width: 1200px)';
$ultrawidescreen: '(min-width: 1400px)';